<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>JSP_APP-HtmlToJspToDb</display-name>
  <welcome-file-list>
    <welcome-file>student_details.html</welcome-file>
  </welcome-file-list>
  
  <!-- configure JSP -->
  <servlet>
  	<servlet-name>st</servlet-name>
  	<jsp-file>/WEB-INF/pages/student_db.jsp</jsp-file>
  	<init-param>
  		<param-name>driverClass</param-name>
  		<param-value>com.mysql.jdbc.Driver</param-value>
<!--   		<param-value>com.mysql.cj.jdbc.Driver</param-value> -->
  	</init-param>
  	<init-param>
  		<param-name>url</param-name>
  		<param-value>jdbc:mysql://localhost:3306/for_advance_java</param-value>
  	</init-param>
  	<init-param>
  		<param-name>dbuser</param-name>
  		<param-value>root</param-value>
  	</init-param>
  	<init-param>
  		<param-name>password</param-name>
  		<param-value>manager</param-value>
  	</init-param>
  	<load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
  	<servlet-name>st</servlet-name>
  	<url-pattern>/stdburl</url-pattern>
  </servlet-mapping>
  
  <error-page>
  	<exception-type>java.lang.Exception</exception-type> <!-- for any exception -->
  	<location>/pages/mainError.jsp</location>
  </error-page>
  
</web-app>